body{
    background: plum;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px;
    padding: 10px;
}

#kilometros, #litros{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit{
    background: #d9860a;
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
    border-radius: 10px;
}

#resultado{
    color:#ff0037;
    font-size: 20px;
}

